agent_address = "{{ spire_agent_socket_path }}"
cert_dir = "{{ nats_spiffe_dir }}"
daemon_mode = true
pid_file_name = "/run/nats/nats.pid"
renew_signal = "SIGHUP"
svid_file_name = "svid.pem"
svid_key_file_name = "svid_key.pem"
svid_bundle_file_name = "bundle.pem"
cert_file_mode = 0640
key_file_mode = 0600
