[Unit]
Description=HyperDX API Server
After=nftables.service network.target mongod.service clickhouse-server.service
Requires=nftables.service mongod.service clickhouse-server.service

[Service]
Type=simple
User={{ ansible_user }}
WorkingDirectory={{ hyperdx_install_dir }}/packages/api
EnvironmentFile={{ hyperdx_env_file }}
EnvironmentFile=/etc/credstore/hyperdx/secrets.env
ExecStart={{ fm_bin }}/node ./build/src/index.js
Restart=on-failure
RestartSec=5
Environment=PATH={{ fm_bin }}:/usr/bin:/bin

[Install]
WantedBy=multi-user.target
