[Unit]
Description=Forgejo Git Server
After=nftables.service network.target
Requires=nftables.service

[Service]
Type=simple
User=forgejo
ExecStart={{ fm_bin }}/forgejo web --config /etc/forgejo/app.ini
Restart=on-failure
Environment=FORGEJO_WORK_DIR=/var/lib/forgejo
Environment=PATH={{ fm_bin }}:/usr/bin:/bin

[Install]
WantedBy=multi-user.target
