[Unit]
Description=Forgejo Actions Runner
After=forge-metal-firewall.target forgejo.service
Requires=forge-metal-firewall.target forgejo.service

[Service]
Type=simple
User=forge-runner
ExecStart={{ fm_bin }}/forgejo-runner daemon --config /etc/forgejo/runner-config.yaml
Restart=on-failure
WorkingDirectory=/var/lib/forge-runner
Environment=PATH={{ fm_bin }}:/usr/bin:/bin

[Install]
WantedBy=multi-user.target
