{% macro route_fqdn(route) -%}
{%- if route.zone == 'company' -%}
{{ company_domain if route.host == '@' else route.host ~ '.' ~ company_domain }}
{%- else -%}
{{ verself_domain if route.host == '@' else route.host ~ '.' ~ verself_domain }}
{%- endif -%}
{%- endmacro -%}
{% macro operator_subjects(indent) -%}
{%- for domain in pomerium_operator_allowed_domains %}
{{ ' ' * indent }}- domain:
{{ ' ' * (indent + 4) }}is: {{ domain | to_json }}
{%- endfor %}
{%- for email in pomerium_operator_allowed_emails %}
{{ ' ' * indent }}- email:
{{ ' ' * (indent + 4) }}is: {{ email | to_json }}
{%- endfor %}
{%- endmacro -%}
authenticate_service_url: "https://{{ pomerium_domain }}"
address: "{{ pomerium_listen_address }}"
grpc_address: "{{ pomerium_grpc_address }}"
ssh_address: "{{ pomerium_ssh_address }}"
ssh_user_ca_key_file: "{{ pomerium_ssh_user_ca_key_path }}"
ssh_host_key_files:
  - "{{ pomerium_ssh_host_key_path }}"
insecure_server: true
xff_num_trusted_hops: 1

log_level: info
cookie_name: "{{ pomerium_cookie_name }}"
cookie_secret_file: "{{ pomerium_cookie_secret_path }}"
shared_secret_file: "{{ pomerium_shared_secret_path }}"
signing_key_file: "{{ pomerium_signing_key_path }}"

idp_provider: oidc
idp_provider_url: "https://{{ zitadel_domain }}"
idp_client_id: "{{ pomerium_oidc_client_id }}"
idp_client_secret_file: "{{ pomerium_oidc_client_secret_path }}"
idp_scopes: "{{ pomerium_oidc_scopes }}"

databroker_storage_type: postgres
databroker_storage_connection_string_file: "{{ pomerium_db_connection_string_path }}"

routes:
{% for route in topology_routes | selectattr('kind', 'equalto', 'operator_origin') | rejectattr('to.component', 'equalto', 'pomerium') %}
{% set interface = topology_endpoints[route.to.component].interfaces[route.to.interface] %}
{% set endpoint = topology_endpoints[route.to.component].endpoints[interface.endpoint] %}
  - from: "https://{{ route_fqdn(route) }}"
    to: "{{ endpoint.protocol }}://{{ endpoint.address }}"
    pass_identity_headers: true
    preserve_host_header: true
    policy:
      - allow:
          or:
{{ operator_subjects(12) }}
{% endfor %}
  - from: "ssh://{{ pomerium_ssh_route_name }}"
    to: "ssh://{{ pomerium_ssh_upstream }}"
    policy:
{% for domain in pomerium_operator_allowed_domains %}
      - allow:
          and:
            - domain:
                is: {{ domain | to_json }}
            - ssh_username:
                is: {{ pomerium_ssh_allowed_user | to_json }}
{% endfor %}
{% for email in pomerium_operator_allowed_emails %}
      - allow:
          and:
            - email:
                is: {{ email | to_json }}
            - ssh_username:
                is: {{ pomerium_ssh_allowed_user | to_json }}
{% endfor %}
