EXPRESS_SESSION_SECRET={{ hyperdx_session_secret }}
DEFAULT_CONNECTIONS=[{"name":"forge-metal","host":"http://default:{{ clickhouse_password | urlencode }}@{{ services.clickhouse.host }}:{{ services.clickhouse.http_port }}"}]
