EXPRESS_SESSION_SECRET={{ hyperdx_session_secret }}
DEFAULT_CONNECTIONS={{ [{"name": "forge-metal", "host": "http://" ~ services.clickhouse.host ~ ":" ~ services.clickhouse.http_port, "username": "default", "password": clickhouse_password}] | to_json }}
