[Unit]
Description=HAProxy public edge
After=verself-firewall.target network-online.target verself-firecracker-network.service
Requires=verself-firewall.target
Wants=network-online.target verself-firecracker-network.service

[Service]
Type=notify
User=haproxy
Group=haproxy
SupplementaryGroups=adm
Environment=LD_LIBRARY_PATH={{ haproxy_aws_lc_library_path }}
ExecStartPre=/usr/bin/env LD_LIBRARY_PATH={{ haproxy_aws_lc_library_path }} {{ verself_bin }}/haproxy -c -f {{ haproxy_config_dir }}/haproxy.cfg -f {{ haproxy_nomad_upstreams_config }}
ExecStart={{ verself_bin }}/haproxy -Ws -f {{ haproxy_config_dir }}/haproxy.cfg -f {{ haproxy_nomad_upstreams_config }} -p /run/haproxy/haproxy.pid -S /run/haproxy/master.sock
ExecReload=/usr/bin/env LD_LIBRARY_PATH={{ haproxy_aws_lc_library_path }} {{ verself_bin }}/haproxy -c -f {{ haproxy_config_dir }}/haproxy.cfg -f {{ haproxy_nomad_upstreams_config }}
ExecReload=/bin/kill -USR2 $MAINPID
Restart=on-failure
RestartSec=5
AmbientCapabilities=CAP_NET_BIND_SERVICE
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
LimitNOFILE=1048576
NoNewPrivileges=true
ProtectSystem=strict
ProtectHome=true
PrivateTmp=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectKernelLogs=true
ProtectControlGroups=true
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
LockPersonality=true
RestrictSUIDSGID=true
SystemCallArchitectures=native
RuntimeDirectory=haproxy
RuntimeDirectoryMode=0750
ReadWritePaths=/run/haproxy /var/lib/haproxy {{ haproxy_log_dir }}
ReadOnlyPaths={{ haproxy_config_dir }} /etc/verself/pki /var/www/verself /opt/aws-lc

[Install]
WantedBy=multi-user.target
