access.verself.sh be_route_product_access_pomerium_access_portal
auth.verself.sh be_route_product_auth_zitadel_oidc
billing.api.verself.sh be_route_product_billing_api_billing_public_api
dashboard.verself.sh be_route_product_dashboard_grafana_operator_ui
git.verself.sh be_route_product_git_source_code_hosting_service_git_smart_http
governance.api.verself.sh be_route_product_governance_api_governance_service_public_api
guardianintelligence.org be_route_company_apex_company_frontend
identity.api.verself.sh be_route_product_identity_api_identity_service_public_api
mail.api.verself.sh be_route_product_mail_api_mailbox_service_public_api
mail.verself.sh be_route_product_mail_stalwart_jmap
notifications.api.verself.sh be_route_product_notifications_api_notifications_service_public_api
profile.api.verself.sh be_route_product_profile_api_profile_service_public_api
projects.api.verself.sh be_route_product_projects_api_projects_service_public_api
sandbox.api.verself.sh be_route_product_sandbox_api_sandbox_rental_public_api
secrets.api.verself.sh be_route_product_secrets_api_secrets_service_public_api
source.api.verself.sh be_route_product_source_api_source_code_hosting_service_public_api
verself.sh be_route_product_apex_verself_web_frontend
