VERSELF_UPSTREAM_BILLING_PUBLIC_HTTP 127.0.0.1:1
VERSELF_UPSTREAM_COMPANY_HTTP 127.0.0.1:1
VERSELF_UPSTREAM_GOVERNANCE_SERVICE_PUBLIC_HTTP 127.0.0.1:1
VERSELF_UPSTREAM_IDENTITY_SERVICE_PUBLIC_HTTP 127.0.0.1:1
VERSELF_UPSTREAM_MAILBOX_SERVICE_PUBLIC_HTTP 127.0.0.1:1
VERSELF_UPSTREAM_NOTIFICATIONS_SERVICE_PUBLIC_HTTP 127.0.0.1:1
VERSELF_UPSTREAM_PROFILE_SERVICE_PUBLIC_HTTP 127.0.0.1:1
VERSELF_UPSTREAM_PROJECTS_SERVICE_PUBLIC_HTTP 127.0.0.1:1
VERSELF_UPSTREAM_SANDBOX_RENTAL_PUBLIC_HTTP 127.0.0.1:1
VERSELF_UPSTREAM_SECRETS_SERVICE_PUBLIC_HTTP 127.0.0.1:1
VERSELF_UPSTREAM_SOURCE_CODE_HOSTING_SERVICE_PUBLIC_HTTP 127.0.0.1:1
VERSELF_UPSTREAM_VERSELF_WEB_HTTP 127.0.0.1:1
