# {{ ansible_managed }}
[Unit]
Description=Nomad
Documentation=https://developer.hashicorp.com/nomad/docs
After=verself-firewall.target network.target
Requires=verself-firewall.target

[Service]
Type=notify
User={{ nomad_user }}
Group={{ nomad_group }}
Environment=OTEL_SERVICE_NAME=nomad
EnvironmentFile=-{{ nomad_artifact_getter_s3_environment_file }}
ExecReload=/bin/kill -HUP $MAINPID
ExecStart={{ verself_bin }}/nomad agent -config={{ nomad_config_dir }}/nomad.hcl
KillMode=process
KillSignal=SIGINT
LimitNOFILE=65536
LimitNPROC=infinity
TasksMax=infinity
OOMScoreAdjust=-1000
Restart=on-failure
RestartSec=2
# Delegate the cgroup-v2 hierarchy to Nomad so it can create child
# cgroups for each alloc. Required for cgroup-managed drivers and
# harmless for raw_exec; needed before we add the docker / exec
# drivers that actually depend on it.
Delegate=yes

[Install]
WantedBy=multi-user.target
