[Unit]
Description=Verself bootstrap artifact server
After=network.target
Before=nomad.service

[Service]
Type=simple
DynamicUser=yes
ExecStart={{ verself_bin }}/bootstrap-artifact-server --listen {{ base_bootstrap_artifact_server_listen }} --root {{ base_bootstrap_artifact_root }}
NoNewPrivileges=yes
PrivateTmp=yes
ProtectHome=yes
ProtectSystem=strict
ReadOnlyPaths={{ base_bootstrap_artifact_root }} {{ verself_bin }}
Restart=on-failure
RestartSec=1s
RestrictAddressFamilies=AF_INET AF_INET6

[Install]
WantedBy=multi-user.target
