<config>
    <secure>1</secure>
    <host>{{ clickhouse_host }}</host>
    <port>{{ clickhouse_native_tls_port }}</port>
    <openSSL>
        <client>
            <certificateFile>{{ clickhouse_operator_spiffe_dir }}/svid.pem</certificateFile>
            <privateKeyFile>{{ clickhouse_operator_spiffe_dir }}/svid_key.pem</privateKeyFile>
            <caConfig>{{ clickhouse_operator_ca_path }}</caConfig>
            <cacheSessions>true</cacheSessions>
            <disableProtocols>sslv2,sslv3</disableProtocols>
            <preferServerCiphers>true</preferServerCiphers>
            <invalidCertificateHandler>
                <name>RejectCertificateHandler</name>
            </invalidCertificateHandler>
        </client>
    </openSSL>
</config>
