function forgejoGroups(ctx, api) {
  if (ctx.v1.user.grants == undefined || ctx.v1.user.grants.count == 0) {
    return;
  }

  const groups = [];
  ctx.v1.user.grants.grants.forEach((grant) => {
    if (grant.projectId !== "{{ forgejo_project_id }}") {
      return;
    }
    grant.roles.forEach((role) => {
      if (role === "{{ forgejo_auth_admin_group }}") {
        groups.push(role);
      }
    });
  });

  if (groups.length === 0) {
    return;
  }

  api.v1.claims.setClaim("{{ forgejo_auth_group_claim_name }}", Array.from(new Set(groups)));
}
