[Unit]
Description=Forgejo Git Server
After=verself-firewall.target network.target
Requires=verself-firewall.target

[Service]
Type=simple
User=forgejo
ExecStart={{ verself_bin }}/forgejo web --config /etc/forgejo/app.ini
Restart=on-failure
Environment=FORGEJO_WORK_DIR=/var/lib/forgejo
Environment=PATH={{ verself_bin }}:/usr/bin:/bin

[Install]
WantedBy=multi-user.target
