apiVersion: 1

datasources:
  - name: {{ grafana_datasource_name }}
    uid: {{ grafana_datasource_uid }}
    type: grafana-clickhouse-datasource
    access: proxy
    isDefault: true
    editable: false
    jsonData:
      defaultDatabase: default
      host: {{ services.clickhouse.host }}
      port: {{ services.clickhouse.http_port }}
      protocol: http
      username: {{ grafana_clickhouse_user }}
      tlsSkipVerify: false
      logs:
        defaultDatabase: default
        defaultTable: otel_logs
        otelEnabled: true
        otelVersion: latest
        timeColumn: Timestamp
        levelColumn: SeverityText
        messageColumn: Body
      traces:
        defaultDatabase: default
        defaultTable: otel_traces
        otelEnabled: true
        otelVersion: latest
        durationUnit: nanoseconds
        traceIdColumn: TraceId
        spanIdColumn: SpanId
        parentSpanIdColumn: ParentSpanId
        operationNameColumn: SpanName
        serviceNameColumn: ServiceName
        startTimeColumn: Timestamp
        durationColumn: Duration
    secureJsonData:
      password: ${GRAFANA_CLICKHOUSE_PASSWORD}
