GF_DATABASE_PASSWORD={{ grafana_db_password | quote }}
GF_SECURITY_ADMIN_PASSWORD={{ grafana_admin_password | quote }}
GF_SECURITY_SECRET_KEY={{ grafana_secret_key | quote }}
GF_AUTH_GENERIC_OAUTH_CLIENT_ID={{ grafana_oidc_client_id | quote }}
GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET={{ grafana_oidc_client_secret | quote }}
GRAFANA_CLICKHOUSE_PASSWORD={{ grafana_clickhouse_password | quote }}
