[Unit]
Description=Homestead Smelter Firecracker Host Agent
After=network-online.target forge-metal-firecracker-network.service
Wants=network-online.target

[Service]
Type=simple
ExecStart={{ fc_smelter_host_binary_path }} serve --listen-uds {{ fc_smelter_control_socket }}
Restart=always
RestartSec=2
RuntimeDirectory=homestead-smelter
Environment=PATH=/usr/local/bin:/usr/bin:/bin
NoNewPrivileges=yes

[Install]
WantedBy=multi-user.target
