[Unit]
Description=ElectricSQL sync ({{ electric_instance }})
After=forge-metal-firewall.target network.target postgresql.service{% for u in electric_extra_systemd_after %} {{ u }}{% endfor %}

Requires=forge-metal-firewall.target
Wants=postgresql.service{% for u in electric_extra_systemd_after %} {{ u }}{% endfor %}


[Service]
Type=simple
ExecStart=/usr/bin/podman run --rm --replace \
  --name {{ electric_service_name }} \
  --network=host \
  --env-file {{ electric_runtime_env_file }} \
  -e ELECTRIC_PORT={{ electric_service_port }} \
  -e ELECTRIC_STORAGE_DIR=/data \
  -e ELECTRIC_DB_POOL_SIZE={{ electric_db_pool_size }} \
  -e ELECTRIC_INSTANCE_ID={{ electric_service_name }} \
  -e ELECTRIC_REPLICATION_STREAM_ID={{ electric_replication_stream_id }} \
  -e RELEASE_NAME={{ electric_service_name }}@127.0.0.1 \
  -e RELEASE_DISTRIBUTION=none \
  -v {{ electric_storage_dir }}:/data \
  {{ electric_image }}
ExecStop=/usr/bin/podman stop {{ electric_service_name }}
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
