[defaults]
inventory = inventory/hosts.ini
roles_path = roles
callback_plugins = plugins/callback
callbacks_enabled = ansible.posix.profile_tasks, deploy_events
host_key_checking = False
timeout = 30
fact_caching = jsonfile
fact_caching_connection = .cache/facts
fact_caching_timeout = 86400
vars_plugins_enabled = host_group_vars,community.sops.sops

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=10m -o ControlPath=~/.ssh/sockets/%%r@%%h-%%p -o StrictHostKeyChecking=no -o ServerAliveInterval=15 -o ServerAliveCountMax=3 -o ConnectTimeout=10
pipelining = True
