path "{{ openbao_tenancy_kv_mount }}/data/opaque_credential/*" {
  capabilities = ["read", "update"]
}

path "{{ openbao_tenancy_kv_mount }}/metadata/opaque_credential/*" {
  capabilities = ["read", "list"]
}

path "{{ openbao_tenancy_transit_mount }}/verify/fm-opaque-credential-hmac" {
  capabilities = ["update"]
}

path "{{ openbao_tenancy_transit_mount }}/verify/fm-opaque-credential-hmac/sha2-256" {
  capabilities = ["update"]
}
