openapi: 3.1.0
info:
    title: Forge Metal Secrets Service API
    version: dev
servers:
    - url: https://secrets.api.anveio.com
paths:
    /api/v1/credentials:
        get:
            summary: List opaque credential metadata
            operationId: list-opaque-credentials
            parameters:
                - name: kind
                  in: query
                  explode: false
                  schema:
                    type: string
                    maxLength: 128
                - name: limit
                  in: query
                  explode: false
                  schema:
                    type: integer
                    format: int64
                    minimum: 1
                    maximum: 200
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/OpaqueCredentialsDTO'
                default:
                    description: Error
                    content:
                        application/problem+json:
                            schema:
                                $ref: '#/components/schemas/ErrorModel'
            security:
                - bearerAuth: []
            x-forge-metal-iam:
                action: list
                audit_event: secrets.credential.list
                billing_product_id: secrets
                billing_sku_id: secrets_credential_operation
                data_classification: credential_metadata
                event_category: secrets
                openbao_role: secrets-direct-list-credentials
                operation_display: list opaque credentials
                operation_type: read
                org_scope: token_org_id
                permission: secrets:credential:list
                rate_limit_class: read
                resource: opaque_credential
                risk_level: high
                source_product_area: Secrets
        post:
            summary: Create an opaque credential
            operationId: create-opaque-credential
            parameters:
                - name: Idempotency-Key
                  in: header
                  description: Stable caller-provided key used to make this mutation retry-safe.
                  required: true
                  schema:
                    type: string
                    minLength: 1
                    maxLength: 128
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/CreateOpaqueCredentialBody'
                required: true
            responses:
                "201":
                    description: Created
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/OpaqueCredentialMaterialDTO'
                default:
                    description: Error
                    content:
                        application/problem+json:
                            schema:
                                $ref: '#/components/schemas/ErrorModel'
            security:
                - bearerAuth: []
            x-forge-metal-iam:
                action: create
                audit_event: secrets.credential.create
                billing_product_id: secrets
                billing_sku_id: secrets_credential_operation
                data_classification: credential_secret
                event_category: secrets
                openbao_role: secrets-direct-create-credential
                operation_display: create opaque credential
                operation_type: write
                org_scope: token_org_id
                permission: secrets:credential:create
                rate_limit_class: credential_mutation
                resource: opaque_credential
                risk_level: critical
                source_product_area: Secrets
    /api/v1/credentials/{credential_id}:
        get:
            summary: Read opaque credential metadata
            operationId: get-opaque-credential
            parameters:
                - name: credential_id
                  in: path
                  required: true
                  schema:
                    type: string
                    format: uuid
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/OpaqueCredentialDTO'
                default:
                    description: Error
                    content:
                        application/problem+json:
                            schema:
                                $ref: '#/components/schemas/ErrorModel'
            security:
                - bearerAuth: []
            x-forge-metal-iam:
                action: read
                audit_event: secrets.credential.read
                billing_product_id: secrets
                billing_sku_id: secrets_credential_operation
                data_classification: credential_metadata
                event_category: secrets
                openbao_role: secrets-direct-read-credential
                operation_display: get opaque credential
                operation_type: read
                org_scope: token_org_id
                permission: secrets:credential:read
                rate_limit_class: read
                resource: opaque_credential
                risk_level: high
                source_product_area: Secrets
    /api/v1/credentials/{credential_id}/revoke:
        post:
            summary: Revoke an opaque credential
            operationId: revoke-opaque-credential
            parameters:
                - name: Idempotency-Key
                  in: header
                  description: Stable caller-provided key used to make this mutation retry-safe.
                  required: true
                  schema:
                    type: string
                    minLength: 1
                    maxLength: 128
                - name: credential_id
                  in: path
                  required: true
                  schema:
                    type: string
                    format: uuid
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/RevokeOpaqueCredentialInputBody'
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/OpaqueCredentialDTO'
                default:
                    description: Error
                    content:
                        application/problem+json:
                            schema:
                                $ref: '#/components/schemas/ErrorModel'
            security:
                - bearerAuth: []
            x-forge-metal-iam:
                action: revoke
                audit_event: secrets.credential.revoke
                billing_product_id: secrets
                billing_sku_id: secrets_credential_operation
                data_classification: credential_metadata
                event_category: secrets
                openbao_role: secrets-direct-revoke-credential
                operation_display: revoke opaque credential
                operation_type: delete
                org_scope: token_org_id
                permission: secrets:credential:revoke
                rate_limit_class: credential_mutation
                resource: opaque_credential
                risk_level: critical
                source_product_area: Secrets
    /api/v1/credentials/{credential_id}/roll:
        post:
            summary: Roll an opaque credential
            operationId: roll-opaque-credential
            parameters:
                - name: Idempotency-Key
                  in: header
                  description: Stable caller-provided key used to make this mutation retry-safe.
                  required: true
                  schema:
                    type: string
                    minLength: 1
                    maxLength: 128
                - name: credential_id
                  in: path
                  required: true
                  schema:
                    type: string
                    format: uuid
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/RollOpaqueCredentialBody'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/OpaqueCredentialMaterialDTO'
                default:
                    description: Error
                    content:
                        application/problem+json:
                            schema:
                                $ref: '#/components/schemas/ErrorModel'
            security:
                - bearerAuth: []
            x-forge-metal-iam:
                action: roll
                audit_event: secrets.credential.roll
                billing_product_id: secrets
                billing_sku_id: secrets_credential_operation
                data_classification: credential_secret
                event_category: secrets
                openbao_role: secrets-direct-roll-credential
                operation_display: roll opaque credential
                operation_type: write
                org_scope: token_org_id
                permission: secrets:credential:roll
                rate_limit_class: credential_mutation
                resource: opaque_credential
                risk_level: critical
                source_product_area: Secrets
    /api/v1/secrets:
        get:
            summary: List retrievable secret metadata
            operationId: list-secrets
            parameters:
                - name: limit
                  in: query
                  explode: false
                  schema:
                    type: integer
                    format: int64
                    minimum: 1
                    maximum: 200
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/SecretsDTO'
                default:
                    description: Error
                    content:
                        application/problem+json:
                            schema:
                                $ref: '#/components/schemas/ErrorModel'
            security:
                - bearerAuth: []
            x-forge-metal-iam:
                action: list
                audit_event: secrets.secret.list
                billing_product_id: secrets
                billing_sku_id: secrets_kv_operation
                data_classification: secret
                event_category: secrets
                openbao_role: secrets-direct-list-secrets
                operation_display: list secrets
                operation_type: read
                org_scope: token_org_id
                permission: secrets:secret:list
                rate_limit_class: read
                resource: secret
                risk_level: high
                source_product_area: Secrets
    /api/v1/secrets/{name}:
        get:
            summary: Resolve and read a retrievable secret
            operationId: read-secret
            parameters:
                - name: name
                  in: path
                  required: true
                  schema:
                    type: string
                    minLength: 1
                    maxLength: 255
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/SecretValueDTO'
                default:
                    description: Error
                    content:
                        application/problem+json:
                            schema:
                                $ref: '#/components/schemas/ErrorModel'
            security:
                - bearerAuth: []
            x-forge-metal-iam:
                action: read
                audit_event: secrets.secret.read
                billing_product_id: secrets
                billing_sku_id: secrets_kv_operation
                data_classification: secret
                event_category: secrets
                openbao_role: secrets-direct-read-secret
                operation_display: read secret
                operation_type: read
                org_scope: token_org_id
                permission: secrets:secret:read
                rate_limit_class: read
                resource: secret
                risk_level: critical
                source_product_area: Secrets
        put:
            summary: Create or rotate a retrievable secret
            operationId: put-secret
            parameters:
                - name: Idempotency-Key
                  in: header
                  description: Stable caller-provided key used to make this mutation retry-safe.
                  required: true
                  schema:
                    type: string
                    minLength: 1
                    maxLength: 128
                - name: name
                  in: path
                  required: true
                  schema:
                    type: string
                    minLength: 1
                    maxLength: 255
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/PutSecretBody'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/SecretDTO'
                default:
                    description: Error
                    content:
                        application/problem+json:
                            schema:
                                $ref: '#/components/schemas/ErrorModel'
            security:
                - bearerAuth: []
            x-forge-metal-iam:
                action: write
                audit_event: secrets.secret.write
                billing_product_id: secrets
                billing_sku_id: secrets_kv_operation
                data_classification: secret
                event_category: secrets
                openbao_role: secrets-direct-put-secret
                operation_display: put secret
                operation_type: write
                org_scope: token_org_id
                permission: secrets:secret:write
                rate_limit_class: secret_mutation
                resource: secret
                risk_level: high
                source_product_area: Secrets
        delete:
            summary: Soft-delete a retrievable secret
            operationId: delete-secret
            parameters:
                - name: Idempotency-Key
                  in: header
                  description: Stable caller-provided key used to make this mutation retry-safe.
                  required: true
                  schema:
                    type: string
                    minLength: 1
                    maxLength: 128
                - name: name
                  in: path
                  required: true
                  schema:
                    type: string
                    minLength: 1
                    maxLength: 255
                - name: scope_level
                  in: query
                  explode: false
                  schema:
                    type: string
                    enum:
                        - org
                        - source
                        - environment
                        - branch
                - name: source_id
                  in: query
                  explode: false
                  schema:
                    type: string
                    maxLength: 255
                - name: env_id
                  in: query
                  explode: false
                  schema:
                    type: string
                    maxLength: 255
                - name: branch
                  in: query
                  explode: false
                  schema:
                    type: string
                    maxLength: 255
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/DeleteSecretInputBody'
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/SecretDTO'
                default:
                    description: Error
                    content:
                        application/problem+json:
                            schema:
                                $ref: '#/components/schemas/ErrorModel'
            security:
                - bearerAuth: []
            x-forge-metal-iam:
                action: delete
                audit_event: secrets.secret.delete
                billing_product_id: secrets
                billing_sku_id: secrets_kv_operation
                data_classification: secret
                event_category: secrets
                openbao_role: secrets-direct-delete-secret
                operation_display: delete secret
                operation_type: delete
                org_scope: token_org_id
                permission: secrets:secret:delete
                rate_limit_class: secret_mutation
                resource: secret
                risk_level: high
                source_product_area: Secrets
    /api/v1/transit/keys:
        post:
            summary: Create a transit key
            operationId: create-transit-key
            parameters:
                - name: Idempotency-Key
                  in: header
                  description: Stable caller-provided key used to make this mutation retry-safe.
                  required: true
                  schema:
                    type: string
                    minLength: 1
                    maxLength: 128
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/CreateTransitKeyInputBody'
                required: true
            responses:
                "201":
                    description: Created
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/TransitKeyDTO'
                default:
                    description: Error
                    content:
                        application/problem+json:
                            schema:
                                $ref: '#/components/schemas/ErrorModel'
            security:
                - bearerAuth: []
            x-forge-metal-iam:
                action: create
                audit_event: secrets.transit_key.create
                billing_product_id: secrets
                billing_sku_id: secrets_transit_operation
                data_classification: secret
                event_category: secrets
                openbao_role: secrets-direct-create-transit-key
                operation_display: create transit key
                operation_type: write
                org_scope: token_org_id
                permission: secrets:transit_key:create
                rate_limit_class: key_mutation
                resource: transit_key
                risk_level: high
                source_product_area: Secrets
    /api/v1/transit/keys/{key_name}/decrypt:
        post:
            summary: Decrypt with a transit key
            operationId: decrypt-with-transit-key
            parameters:
                - name: key_name
                  in: path
                  required: true
                  schema:
                    type: string
                    minLength: 1
                    maxLength: 255
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/TransitPayloadInputBody'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/DecryptOutputBody'
                default:
                    description: Error
                    content:
                        application/problem+json:
                            schema:
                                $ref: '#/components/schemas/ErrorModel'
            security:
                - bearerAuth: []
            x-forge-metal-iam:
                action: decrypt
                audit_event: secrets.transit_key.decrypt
                billing_product_id: secrets
                billing_sku_id: secrets_transit_operation
                data_classification: secret
                event_category: secrets
                openbao_role: secrets-direct-decrypt-with-transit-key
                operation_display: decrypt with transit key
                operation_type: write
                org_scope: token_org_id
                permission: secrets:transit:decrypt
                rate_limit_class: crypto
                resource: transit_key
                risk_level: critical
                source_product_area: Secrets
    /api/v1/transit/keys/{key_name}/encrypt:
        post:
            summary: Encrypt with a transit key
            operationId: encrypt-with-transit-key
            parameters:
                - name: key_name
                  in: path
                  required: true
                  schema:
                    type: string
                    minLength: 1
                    maxLength: 255
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/TransitPayloadInputBody'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/EncryptOutputBody'
                default:
                    description: Error
                    content:
                        application/problem+json:
                            schema:
                                $ref: '#/components/schemas/ErrorModel'
            security:
                - bearerAuth: []
            x-forge-metal-iam:
                action: encrypt
                audit_event: secrets.transit_key.encrypt
                billing_product_id: secrets
                billing_sku_id: secrets_transit_operation
                data_classification: secret
                event_category: secrets
                openbao_role: secrets-direct-encrypt-with-transit-key
                operation_display: encrypt with transit key
                operation_type: write
                org_scope: token_org_id
                permission: secrets:transit:encrypt
                rate_limit_class: crypto
                resource: transit_key
                risk_level: high
                source_product_area: Secrets
    /api/v1/transit/keys/{key_name}/rotate:
        post:
            summary: Rotate a transit key
            operationId: rotate-transit-key
            parameters:
                - name: Idempotency-Key
                  in: header
                  description: Stable caller-provided key used to make this mutation retry-safe.
                  required: true
                  schema:
                    type: string
                    minLength: 1
                    maxLength: 128
                - name: key_name
                  in: path
                  required: true
                  schema:
                    type: string
                    minLength: 1
                    maxLength: 255
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/TransitKeyDTO'
                default:
                    description: Error
                    content:
                        application/problem+json:
                            schema:
                                $ref: '#/components/schemas/ErrorModel'
            security:
                - bearerAuth: []
            x-forge-metal-iam:
                action: rotate
                audit_event: secrets.transit_key.rotate
                billing_product_id: secrets
                billing_sku_id: secrets_transit_operation
                data_classification: secret
                event_category: secrets
                openbao_role: secrets-direct-rotate-transit-key
                operation_display: rotate transit key
                operation_type: write
                org_scope: token_org_id
                permission: secrets:transit_key:rotate
                rate_limit_class: key_mutation
                resource: transit_key
                risk_level: high
                source_product_area: Secrets
    /api/v1/transit/keys/{key_name}/sign:
        post:
            summary: Sign with a transit key
            operationId: sign-with-transit-key
            parameters:
                - name: key_name
                  in: path
                  required: true
                  schema:
                    type: string
                    minLength: 1
                    maxLength: 255
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/TransitPayloadInputBody'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/SignOutputBody'
                default:
                    description: Error
                    content:
                        application/problem+json:
                            schema:
                                $ref: '#/components/schemas/ErrorModel'
            security:
                - bearerAuth: []
            x-forge-metal-iam:
                action: sign
                audit_event: secrets.transit_key.sign
                billing_product_id: secrets
                billing_sku_id: secrets_transit_operation
                data_classification: secret
                event_category: secrets
                openbao_role: secrets-direct-sign-with-transit-key
                operation_display: sign with transit key
                operation_type: write
                org_scope: token_org_id
                permission: secrets:transit:sign
                rate_limit_class: crypto
                resource: transit_key
                risk_level: high
                source_product_area: Secrets
    /api/v1/transit/keys/{key_name}/verify:
        post:
            summary: Verify with a transit key
            operationId: verify-with-transit-key
            parameters:
                - name: key_name
                  in: path
                  required: true
                  schema:
                    type: string
                    minLength: 1
                    maxLength: 255
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/TransitPayloadInputBody'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/VerifyOutputBody'
                default:
                    description: Error
                    content:
                        application/problem+json:
                            schema:
                                $ref: '#/components/schemas/ErrorModel'
            security:
                - bearerAuth: []
            x-forge-metal-iam:
                action: verify
                audit_event: secrets.transit_key.verify
                billing_product_id: secrets
                billing_sku_id: secrets_transit_operation
                data_classification: secret
                event_category: secrets
                openbao_role: secrets-direct-verify-with-transit-key
                operation_display: verify with transit key
                operation_type: write
                org_scope: token_org_id
                permission: secrets:transit:verify
                rate_limit_class: crypto
                resource: transit_key
                risk_level: high
                source_product_area: Secrets
    /api/v1/variables:
        get:
            summary: List non-secret config variable metadata
            operationId: list-variables
            parameters:
                - name: limit
                  in: query
                  explode: false
                  schema:
                    type: integer
                    format: int64
                    minimum: 1
                    maximum: 200
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/VariablesDTO'
                default:
                    description: Error
                    content:
                        application/problem+json:
                            schema:
                                $ref: '#/components/schemas/ErrorModel'
            security:
                - bearerAuth: []
            x-forge-metal-iam:
                action: list
                audit_event: secrets.variable.list
                billing_product_id: secrets
                billing_sku_id: secrets_kv_operation
                data_classification: internal_config
                event_category: secrets
                openbao_role: secrets-direct-list-variables
                operation_display: list variables
                operation_type: read
                org_scope: token_org_id
                permission: secrets:variable:list
                rate_limit_class: read
                resource: variable
                risk_level: medium
                source_product_area: Secrets
    /api/v1/variables/{name}:
        get:
            summary: Resolve and read a non-secret config variable
            operationId: read-variable
            parameters:
                - name: name
                  in: path
                  required: true
                  schema:
                    type: string
                    minLength: 1
                    maxLength: 255
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/VariableValueDTO'
                default:
                    description: Error
                    content:
                        application/problem+json:
                            schema:
                                $ref: '#/components/schemas/ErrorModel'
            security:
                - bearerAuth: []
            x-forge-metal-iam:
                action: read
                audit_event: secrets.variable.read
                billing_product_id: secrets
                billing_sku_id: secrets_kv_operation
                data_classification: internal_config
                event_category: secrets
                openbao_role: secrets-direct-read-variable
                operation_display: read variable
                operation_type: read
                org_scope: token_org_id
                permission: secrets:variable:read
                rate_limit_class: read
                resource: variable
                risk_level: medium
                source_product_area: Secrets
        put:
            summary: Create or rotate a non-secret config variable
            operationId: put-variable
            parameters:
                - name: Idempotency-Key
                  in: header
                  description: Stable caller-provided key used to make this mutation retry-safe.
                  required: true
                  schema:
                    type: string
                    minLength: 1
                    maxLength: 128
                - name: name
                  in: path
                  required: true
                  schema:
                    type: string
                    minLength: 1
                    maxLength: 255
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/PutSecretBody'
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/VariableDTO'
                default:
                    description: Error
                    content:
                        application/problem+json:
                            schema:
                                $ref: '#/components/schemas/ErrorModel'
            security:
                - bearerAuth: []
            x-forge-metal-iam:
                action: write
                audit_event: secrets.variable.write
                billing_product_id: secrets
                billing_sku_id: secrets_kv_operation
                data_classification: internal_config
                event_category: secrets
                openbao_role: secrets-direct-put-variable
                operation_display: put variable
                operation_type: write
                org_scope: token_org_id
                permission: secrets:variable:write
                rate_limit_class: secret_mutation
                resource: variable
                risk_level: high
                source_product_area: Secrets
        delete:
            summary: Soft-delete a non-secret config variable
            operationId: delete-variable
            parameters:
                - name: Idempotency-Key
                  in: header
                  description: Stable caller-provided key used to make this mutation retry-safe.
                  required: true
                  schema:
                    type: string
                    minLength: 1
                    maxLength: 128
                - name: name
                  in: path
                  required: true
                  schema:
                    type: string
                    minLength: 1
                    maxLength: 255
                - name: scope_level
                  in: query
                  explode: false
                  schema:
                    type: string
                    enum:
                        - org
                        - source
                        - environment
                        - branch
                - name: source_id
                  in: query
                  explode: false
                  schema:
                    type: string
                    maxLength: 255
                - name: env_id
                  in: query
                  explode: false
                  schema:
                    type: string
                    maxLength: 255
                - name: branch
                  in: query
                  explode: false
                  schema:
                    type: string
                    maxLength: 255
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/DeleteSecretInputBody'
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/VariableDTO'
                default:
                    description: Error
                    content:
                        application/problem+json:
                            schema:
                                $ref: '#/components/schemas/ErrorModel'
            security:
                - bearerAuth: []
            x-forge-metal-iam:
                action: delete
                audit_event: secrets.variable.delete
                billing_product_id: secrets
                billing_sku_id: secrets_kv_operation
                data_classification: internal_config
                event_category: secrets
                openbao_role: secrets-direct-delete-variable
                operation_display: delete variable
                operation_type: delete
                org_scope: token_org_id
                permission: secrets:variable:delete
                rate_limit_class: secret_mutation
                resource: variable
                risk_level: high
                source_product_area: Secrets
components:
    schemas:
        CreateOpaqueCredentialBody:
            type: object
            additionalProperties: false
            properties:
                $schema:
                    type: string
                    description: A URL to the JSON Schema for this object.
                    format: uri
                    examples:
                        - https://secrets.api.anveio.com/schemas/CreateOpaqueCredentialBody.json
                    readOnly: true
                display_name:
                    type: string
                    maxLength: 128
                expires_in_seconds:
                    type: integer
                    format: int64
                    minimum: 60
                    maximum: 7.776e+06
                kind:
                    type: string
                    minLength: 1
                    maxLength: 128
                metadata:
                    type: object
                    additionalProperties:
                        type: string
                scopes:
                    type: array
                    items:
                        type: string
                    minItems: 1
                    maxItems: 64
                subject:
                    type: string
                    maxLength: 255
            required:
                - kind
                - scopes
        CreateTransitKeyInputBody:
            type: object
            additionalProperties: false
            properties:
                $schema:
                    type: string
                    description: A URL to the JSON Schema for this object.
                    format: uri
                    examples:
                        - https://secrets.api.anveio.com/schemas/CreateTransitKeyInputBody.json
                    readOnly: true
                name:
                    type: string
                    minLength: 1
                    maxLength: 255
            required:
                - name
        DecryptOutputBody:
            type: object
            additionalProperties: false
            properties:
                $schema:
                    type: string
                    description: A URL to the JSON Schema for this object.
                    format: uri
                    examples:
                        - https://secrets.api.anveio.com/schemas/DecryptOutputBody.json
                    readOnly: true
                plaintext_base64:
                    type: string
            required:
                - plaintext_base64
        DeleteSecretInputBody:
            type: object
            additionalProperties: false
            properties:
                $schema:
                    type: string
                    description: A URL to the JSON Schema for this object.
                    format: uri
                    examples:
                        - https://secrets.api.anveio.com/schemas/DeleteSecretInputBody.json
                    readOnly: true
        EncryptOutputBody:
            type: object
            additionalProperties: false
            properties:
                $schema:
                    type: string
                    description: A URL to the JSON Schema for this object.
                    format: uri
                    examples:
                        - https://secrets.api.anveio.com/schemas/EncryptOutputBody.json
                    readOnly: true
                ciphertext:
                    type: string
                version:
                    type: string
            required:
                - ciphertext
                - version
        ErrorDetail:
            type: object
            additionalProperties: false
            properties:
                location:
                    type: string
                    description: Where the error occurred, e.g. 'body.items[3].tags' or 'path.thing-id'
                message:
                    type: string
                    description: Error message text
                value:
                    description: The value at the given location
        ErrorModel:
            type: object
            additionalProperties: false
            properties:
                $schema:
                    type: string
                    description: A URL to the JSON Schema for this object.
                    format: uri
                    examples:
                        - https://secrets.api.anveio.com/schemas/ErrorModel.json
                    readOnly: true
                detail:
                    type: string
                    description: A human-readable explanation specific to this occurrence of the problem.
                    examples:
                        - Property foo is required but is missing.
                errors:
                    type: array
                    description: Optional list of individual error details
                    items:
                        $ref: '#/components/schemas/ErrorDetail'
                instance:
                    type: string
                    description: A URI reference that identifies the specific occurrence of the problem.
                    format: uri
                    examples:
                        - https://example.com/error-log/abc123
                status:
                    type: integer
                    description: HTTP status code
                    format: int64
                    examples:
                        - 400
                    maximum: 599
                title:
                    type: string
                    description: A short, human-readable summary of the problem type. This value should not change between occurrences of the error.
                    examples:
                        - Bad Request
                type:
                    type: string
                    description: A URI reference to human-readable documentation for the error.
                    format: uri
                    default: about:blank
                    examples:
                        - https://example.com/errors/example
        OpaqueCredentialDTO:
            type: object
            additionalProperties: false
            properties:
                $schema:
                    type: string
                    description: A URL to the JSON Schema for this object.
                    format: uri
                    examples:
                        - https://secrets.api.anveio.com/schemas/OpaqueCredentialDTO.json
                    readOnly: true
                created_at:
                    type: string
                    format: date-time
                credential_id:
                    type: string
                    format: uuid
                current_version:
                    type: string
                display_name:
                    type: string
                expires_at:
                    type: string
                    format: date-time
                kind:
                    type: string
                last_used_at:
                    type: string
                    format: date-time
                metadata:
                    type: object
                    additionalProperties:
                        type: string
                org_id:
                    type: string
                revoked_at:
                    type: string
                    format: date-time
                scopes:
                    type: array
                    items:
                        type: string
                status:
                    type: string
                subject:
                    type: string
                token_prefix:
                    type: string
                updated_at:
                    type: string
                    format: date-time
            required:
                - credential_id
                - org_id
                - kind
                - subject
                - display_name
                - status
                - token_prefix
                - scopes
                - metadata
                - current_version
                - expires_at
                - created_at
                - updated_at
        OpaqueCredentialMaterialDTO:
            type: object
            additionalProperties: false
            properties:
                $schema:
                    type: string
                    description: A URL to the JSON Schema for this object.
                    format: uri
                    examples:
                        - https://secrets.api.anveio.com/schemas/OpaqueCredentialMaterialDTO.json
                    readOnly: true
                credential:
                    $ref: '#/components/schemas/OpaqueCredentialDTO'
                token:
                    type: string
            required:
                - credential
                - token
        OpaqueCredentialsDTO:
            type: object
            additionalProperties: false
            properties:
                $schema:
                    type: string
                    description: A URL to the JSON Schema for this object.
                    format: uri
                    examples:
                        - https://secrets.api.anveio.com/schemas/OpaqueCredentialsDTO.json
                    readOnly: true
                credentials:
                    type: array
                    items:
                        $ref: '#/components/schemas/OpaqueCredentialDTO'
            required:
                - credentials
        PutSecretBody:
            type: object
            additionalProperties: false
            properties:
                $schema:
                    type: string
                    description: A URL to the JSON Schema for this object.
                    format: uri
                    examples:
                        - https://secrets.api.anveio.com/schemas/PutSecretBody.json
                    readOnly: true
                branch:
                    type: string
                    maxLength: 255
                env_id:
                    type: string
                    maxLength: 255
                scope_level:
                    type: string
                    enum:
                        - org
                        - source
                        - environment
                        - branch
                source_id:
                    type: string
                    maxLength: 255
                value:
                    type: string
                    maxLength: 65536
            required:
                - value
        RevokeOpaqueCredentialInputBody:
            type: object
            additionalProperties: false
            properties:
                $schema:
                    type: string
                    description: A URL to the JSON Schema for this object.
                    format: uri
                    examples:
                        - https://secrets.api.anveio.com/schemas/RevokeOpaqueCredentialInputBody.json
                    readOnly: true
        RollOpaqueCredentialBody:
            type: object
            additionalProperties: false
            properties:
                $schema:
                    type: string
                    description: A URL to the JSON Schema for this object.
                    format: uri
                    examples:
                        - https://secrets.api.anveio.com/schemas/RollOpaqueCredentialBody.json
                    readOnly: true
                expires_in_seconds:
                    type: integer
                    format: int64
                    minimum: 60
                    maximum: 7.776e+06
        SecretDTO:
            type: object
            additionalProperties: false
            properties:
                $schema:
                    type: string
                    description: A URL to the JSON Schema for this object.
                    format: uri
                    examples:
                        - https://secrets.api.anveio.com/schemas/SecretDTO.json
                    readOnly: true
                branch:
                    type: string
                created_at:
                    type: string
                    format: date-time
                current_version:
                    type: string
                env_id:
                    type: string
                kind:
                    type: string
                name:
                    type: string
                scope_level:
                    type: string
                secret_id:
                    type: string
                source_id:
                    type: string
                updated_at:
                    type: string
                    format: date-time
            required:
                - secret_id
                - kind
                - name
                - scope_level
                - current_version
                - created_at
                - updated_at
        SecretValueDTO:
            type: object
            additionalProperties: false
            properties:
                $schema:
                    type: string
                    description: A URL to the JSON Schema for this object.
                    format: uri
                    examples:
                        - https://secrets.api.anveio.com/schemas/SecretValueDTO.json
                    readOnly: true
                branch:
                    type: string
                created_at:
                    type: string
                    format: date-time
                current_version:
                    type: string
                env_id:
                    type: string
                kind:
                    type: string
                name:
                    type: string
                scope_level:
                    type: string
                secret_id:
                    type: string
                source_id:
                    type: string
                updated_at:
                    type: string
                    format: date-time
                value:
                    type: string
            required:
                - value
                - secret_id
                - kind
                - name
                - scope_level
                - current_version
                - created_at
                - updated_at
        SecretsDTO:
            type: object
            additionalProperties: false
            properties:
                $schema:
                    type: string
                    description: A URL to the JSON Schema for this object.
                    format: uri
                    examples:
                        - https://secrets.api.anveio.com/schemas/SecretsDTO.json
                    readOnly: true
                secrets:
                    type: array
                    items:
                        $ref: '#/components/schemas/SecretDTO'
            required:
                - secrets
        SignOutputBody:
            type: object
            additionalProperties: false
            properties:
                $schema:
                    type: string
                    description: A URL to the JSON Schema for this object.
                    format: uri
                    examples:
                        - https://secrets.api.anveio.com/schemas/SignOutputBody.json
                    readOnly: true
                signature:
                    type: string
            required:
                - signature
        TransitKeyDTO:
            type: object
            additionalProperties: false
            properties:
                $schema:
                    type: string
                    description: A URL to the JSON Schema for this object.
                    format: uri
                    examples:
                        - https://secrets.api.anveio.com/schemas/TransitKeyDTO.json
                    readOnly: true
                created_at:
                    type: string
                    format: date-time
                current_version:
                    type: string
                key_id:
                    type: string
                name:
                    type: string
                public_key:
                    type: string
                updated_at:
                    type: string
                    format: date-time
            required:
                - key_id
                - name
                - current_version
                - public_key
                - created_at
                - updated_at
        TransitPayloadInputBody:
            type: object
            additionalProperties: false
            properties:
                $schema:
                    type: string
                    description: A URL to the JSON Schema for this object.
                    format: uri
                    examples:
                        - https://secrets.api.anveio.com/schemas/TransitPayloadInputBody.json
                    readOnly: true
                ciphertext:
                    type: string
                    maxLength: 262144
                message_base64:
                    type: string
                    maxLength: 262144
                plaintext_base64:
                    type: string
                    maxLength: 262144
                signature:
                    type: string
                    maxLength: 262144
        VariableDTO:
            type: object
            additionalProperties: false
            properties:
                $schema:
                    type: string
                    description: A URL to the JSON Schema for this object.
                    format: uri
                    examples:
                        - https://secrets.api.anveio.com/schemas/VariableDTO.json
                    readOnly: true
                branch:
                    type: string
                created_at:
                    type: string
                    format: date-time
                current_version:
                    type: string
                env_id:
                    type: string
                kind:
                    type: string
                name:
                    type: string
                scope_level:
                    type: string
                source_id:
                    type: string
                updated_at:
                    type: string
                    format: date-time
                variable_id:
                    type: string
            required:
                - variable_id
                - kind
                - name
                - scope_level
                - current_version
                - created_at
                - updated_at
        VariableValueDTO:
            type: object
            additionalProperties: false
            properties:
                $schema:
                    type: string
                    description: A URL to the JSON Schema for this object.
                    format: uri
                    examples:
                        - https://secrets.api.anveio.com/schemas/VariableValueDTO.json
                    readOnly: true
                branch:
                    type: string
                created_at:
                    type: string
                    format: date-time
                current_version:
                    type: string
                env_id:
                    type: string
                kind:
                    type: string
                name:
                    type: string
                scope_level:
                    type: string
                source_id:
                    type: string
                updated_at:
                    type: string
                    format: date-time
                value:
                    type: string
                variable_id:
                    type: string
            required:
                - value
                - variable_id
                - kind
                - name
                - scope_level
                - current_version
                - created_at
                - updated_at
        VariablesDTO:
            type: object
            additionalProperties: false
            properties:
                $schema:
                    type: string
                    description: A URL to the JSON Schema for this object.
                    format: uri
                    examples:
                        - https://secrets.api.anveio.com/schemas/VariablesDTO.json
                    readOnly: true
                variables:
                    type: array
                    items:
                        $ref: '#/components/schemas/VariableDTO'
            required:
                - variables
        VerifyOutputBody:
            type: object
            additionalProperties: false
            properties:
                $schema:
                    type: string
                    description: A URL to the JSON Schema for this object.
                    format: uri
                    examples:
                        - https://secrets.api.anveio.com/schemas/VerifyOutputBody.json
                    readOnly: true
                valid:
                    type: boolean
            required:
                - valid
    securitySchemes:
        bearerAuth:
            type: http
            description: Zitadel-issued bearer token scoped to the secrets-service API audience.
            scheme: bearer
            bearerFormat: JWT
