path "{{ openbao_tenancy_kv_mount }}/data/*" {
  capabilities = ["create", "read", "update", "delete"]
}

path "{{ openbao_tenancy_kv_mount }}/metadata/*" {
  capabilities = ["create", "read", "update", "delete", "list"]
}

path "{{ openbao_tenancy_kv_mount }}/delete/*" {
  capabilities = ["update"]
}

path "{{ openbao_tenancy_kv_mount }}/undelete/*" {
  capabilities = ["update"]
}

path "{{ openbao_tenancy_kv_mount }}/destroy/*" {
  capabilities = ["update"]
}

path "{{ openbao_tenancy_transit_mount }}/keys/*" {
  capabilities = ["create", "read", "update", "delete", "list"]
}

path "{{ openbao_tenancy_transit_mount }}/keys/*/rotate" {
  capabilities = ["update"]
}

path "{{ openbao_tenancy_transit_mount }}/encrypt/*" {
  capabilities = ["update"]
}

path "{{ openbao_tenancy_transit_mount }}/decrypt/*" {
  capabilities = ["update"]
}

path "{{ openbao_tenancy_transit_mount }}/sign/*" {
  capabilities = ["update"]
}

path "{{ openbao_tenancy_transit_mount }}/hmac/*" {
  capabilities = ["update"]
}

path "{{ openbao_tenancy_transit_mount }}/verify/*" {
  capabilities = ["update"]
}
