#!/usr/sbin/nft -f

table inet verself_object_storage_service
delete table inet verself_object_storage_service

table inet verself_object_storage_service {
    chain input {
        type filter hook input priority filter; policy accept;

        tcp dport {{ topology_endpoints.object_storage_service.endpoints.public_http.port }} iifname != "lo" drop
    }

    chain output {
        type filter hook output priority filter; policy accept;

        ct state established,related accept
        meta skuid != object_storage_service accept

        oifname "lo" tcp dport {{ topology_endpoints.object_storage_service.endpoints.public_http.port }} accept
        oifname "lo" tcp dport {{ topology_endpoints.postgresql.endpoints.postgres.port }} accept
        oifname "lo" tcp dport {{ topology_endpoints.clickhouse.endpoints.native_tls.port }} accept
        oifname "lo" tcp dport {{ topology_endpoints.secrets_service.endpoints.internal_https.port }} accept
        oifname "lo" tcp dport {{ topology_endpoints.otelcol.endpoints.otlp_grpc.port }} accept
        oifname "lo" tcp dport { {% for node in topology_clusters.garage.nodes %}{{ node.s3_port }}{% if not loop.last %}, {% endif %}{% endfor %} } accept
        meta l4proto != tcp meta l4proto != udp accept

        drop
    }
}
