storage: /var/lib/verdaccio/storage
auth:
  htpasswd:
    file: /etc/verdaccio/htpasswd
uplinks:
  npmjs:
    url: https://registry.npmjs.org/
packages:
  '**':
    access: $all
    publish: $authenticated
    proxy: npmjs
listen: 0.0.0.0:{{ verdaccio_port }}
