[Unit]
Description=Verdaccio npm registry mirror
After=network.target

[Service]
Type=simple
ExecStart={{ fm_bin }}/verdaccio --config /etc/verdaccio/config.yaml
Restart=on-failure
User=nobody
Group=nogroup
CPUAffinity=0 1
Environment=PATH={{ fm_bin }}:/usr/bin:/bin

[Install]
WantedBy=multi-user.target
