[Unit]
Description=Verdaccio npm registry mirror
After=nftables.service network.target
Requires=nftables.service

[Service]
Type=simple
ExecStart={{ verdaccio_install_prefix }}/bin/verdaccio --config /etc/verdaccio/config.yaml
Restart=on-failure
User=verdaccio
Group=verdaccio
WorkingDirectory=/var/lib/verdaccio
CPUAffinity=0 1
Environment=HOME=/var/lib/verdaccio
Environment=PATH={{ verdaccio_install_prefix }}/bin:{{ fm_bin }}:/usr/bin:/bin

[Install]
WantedBy=multi-user.target
