server_name: verself-nats
pid_file: "/run/nats/nats.pid"
host: {{ topology_endpoints.nats.host }}
port: {{ topology_endpoints.nats.endpoints.client.port }}
http: {{ topology_endpoints.nats.endpoints.monitoring.port }}

jetstream {
  store_dir: "{{ nats_jetstream_dir }}"
  max_mem_store: 256Mb
  max_file_store: 4Gb
}

tls {
  cert_file: "{{ nats_spiffe_dir }}/svid.pem"
  key_file: "{{ nats_spiffe_dir }}/svid_key.pem"
  ca_file: "{{ nats_spiffe_dir }}/bundle.pem"
  verify: true
  verify_and_map: true
  timeout: 2
}

authorization {
  users = [
    {
      user: "{{ spire_identity_spiffe_ids['notifications_service.default'] }}"
      permissions: {
        publish: {
          allow: ["events.>", "$JS.API.>", "$JS.ACK.>"]
        }
        subscribe: {
          allow: ["_INBOX.>"]
        }
      }
    }
  ]
}
