[agent]
heartbeat_interval = "5s"
controller_addr = "{{ controller_addr }}"

[agent.sandbox]
runtime = "{{ gvisor_runtime }}"
max_concurrent_jobs = {{ max_concurrent_jobs }}

[zfs]
pool = "{{ zfs_pool }}"
golden_dataset = "{{ zfs_golden_dataset }}"
ci_dataset = "{{ zfs_ci_dataset }}"

[clickhouse]
addr = "{{ clickhouse_addr | default('10.0.0.1:9000') }}"
database = "forge_metal"
