[Unit]
Description=vm-orchestrator Firecracker Host Daemon
After=verself-firewall.target network-online.target verself-firecracker-network.service
Requires=verself-firewall.target
Wants=network-online.target

[Service]
Type=simple
ExecStart={{ firecracker_vm_orchestrator_binary_path }} \
  --listen-unix {{ firecracker_vm_orchestrator_api_socket }} \
  --socket-group {{ firecracker_vm_orchestrator_socket_group }} \
  --pool {{ firecracker_zfs_pool }} \
  --image-dataset {{ firecracker_image_dataset }} \
  --workload-dataset {{ firecracker_workload_dataset }} \
  --default-substrate-ref {{ firecracker_default_substrate_ref }} \
  --kernel-path {{ firecracker_kernel_path }} \
  --firecracker-bin /usr/local/bin/firecracker \
  --jailer-bin /usr/local/bin/jailer \
  --jailer-root {{ firecracker_jailer_root }} \
  --jailer-uid {{ firecracker_jailer_uid }} \
  --jailer-gid {{ firecracker_jailer_gid }} \
{% if firecracker_host_uplink_interface | default('', true) | length > 0 %}
  --host-interface {{ firecracker_host_uplink_interface }} \
{% endif %}
  --guest-pool-cidr {{ firecracker_guest_pool_cidr }} \
  --state-db-path {{ firecracker_state_db_path }} \
  --host-service-ip {{ firecracker_host_service_ip }} \
  --host-service-port {{ topology_endpoints.firecracker_host_service.endpoints.host_http.port }}
Restart=always
RestartSec=2
RuntimeDirectory=vm-orchestrator
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
NoNewPrivileges=yes
ProtectHome=true
PrivateTmp=true
LockPersonality=true
RestrictRealtime=true
RestrictSUIDSGID=true
SystemCallArchitectures=native
UMask=0077

[Install]
WantedBy=multi-user.target
