<clickhouse>
    <listen_host>0.0.0.0</listen_host>
    <http_port>{{ clickhouse_http_port }}</http_port>
    <tcp_port>{{ clickhouse_native_port }}</tcp_port>

    <logger>
        <level>information</level>
        <log>/var/log/clickhouse-server/clickhouse-server.log</log>
        <errorlog>/var/log/clickhouse-server/clickhouse-server.err.log</errorlog>
        <size>100M</size>
        <count>3</count>
    </logger>
</clickhouse>
