receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318
  hostmetrics:
    collection_interval: 1s
    scrapers:
      process:
        include:
          match_type: regexp
          names: ["caddy", "clickhouse.*", "forgejo.*", "otelcol.*", "mongod", "node", "forge-metal"]
        mute_process_exe_error: true
        mute_process_io_error: true
      cpu: {}
      memory: {}
      load: {}

processors:
  batch:
    send_batch_size: 10000
    timeout: 5s

exporters:
  clickhouse:
    endpoint: tcp://localhost:{{ clickhouse_native_port }}?dial_timeout=10s
    database: default
    logs_table_name: otel_logs
    traces_table_name: otel_traces
    create_schema: true

extensions:
  health_check:
    endpoint: 0.0.0.0:13133

service:
  extensions: [health_check]
  pipelines:
    logs:
      receivers: [otlp]
      processors: [batch]
      exporters: [clickhouse]
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [clickhouse]
    metrics:
      receivers: [otlp, hostmetrics]
      processors: [batch]
      exporters: [clickhouse]
